<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>列表渲染v-for遍历数组</title>
    <script src="../js/vue.js"></script>
</head>
<body>
<div id="app">
    <!--简写-->
    <li v-for="item in list">{{item}}</li>

    <hr>
    <!--item、index都写-->
    <li v-for="(item,index) in list">
        item==>>{{item}},index==>{{index}}
    </li>
</div>
<script>
    let vue = new Vue({
        el: "#app",
        data: {

            list:["苹果","香蕉","梨"]
        }
    });
</script>
</body>
</html>