<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ES6语法和新特性——模块化编程</title>

    <script type="module">

            import {CFG_INFO,myfun} from "./model/js/comm.js";
            import User from "./model/js/userClass.js";

            function abc() {
                //1、调用普通的变量
                console.log("CFG_INFO==>", CFG_INFO);
                //2、调用方法
                myfun();

                //3、调用类
                let user = new User();
                let app = document.getElementById("app");
                app.children[0].innerHTML = `姓名=${user.name}`;
                app.children[1].innerHTML = user.info();
          }
          abc();

            //comm.js下暴露了两个功能
            import * as base from "./model/js/comm.js";

            //调用时，用base作为前缀即可。
            console.log('info==>>',base.CFG_INFO);
            base.myfun();

            //其实comm下有3个功能，这时只需要部分
            import {userName} from "./model/js/comm.js";

            console.log(userName);

    </script>
    <style>
        .content {
            border-style: dashed;
            border-color: blue;
            border-width: thick;
            margin: 5px;
        }
    </style>
</head>
<body>
<div id="app">
    <div class="title"></div>
    <div class="content">
    </div>

</div>
<script>

    // let arr = [12,30,5,2,10];
    // let newArr =  arr.filter(item=> {
    //     return item>10;
    //
    //     console.log('item=>',item);
    // });
    // console.log('arr=>',arr);
    //
    // let all = arr.reduce(function (v1,v2) {
    //     return v1+v2;
    // },0);
    // console.log(all);
</script>
</body>
</html>