<!DOCTYPE html>
<!--网页头部-->

<head>
  <title>js-变量</title>
  <meta content="text/html; charset=UTF-8">
</head>
<!--网页主要内容部分-->
<body>
  <div class="container">
  </div>
</body>
<!--动态JS脚本部分-->
<script>
  //var定义变量
  var money  = 15.68;
  var arrayNumber  = [1,5,15,23,25];
  var arrayString  = ["香蕉","苹果","火龙果"];
  
  const string = "一串文字";
  var number = 10;
  console.log("进入if前string="+string);
  if(number == 10) {
    //再定义string
    const string = "中国人民英雄";
    console.log("if里面string="+string);
  }
  string = "改掉数据！";
  console.log("if外面string="+string);


  let num    = 20;
  //const定义的变量不能修改，且必须给它赋值
  const USER_NAME = "张三";
  //let定义变量，在不同代码块中作用域不同。
  if(num==20) {
    let num = 35;
    console.log("if里面的let定义num="+num);
  }else{
    
  }
  console.log("顶部的let定义num="+num);


  
</script>

</html>